<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= item.active ? 'YES' : 'NO' %>
  </p>

  <p>
    <strong>Borrowed:</strong>
    <%= item.borrowed ? 'YES' : 'NO' %>
  </p>

  <p>
    <strong>Book Type:</strong>
    <%= item.item_type %>
  </p>

</div>
