<div>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th class="text-center">Active</th>
    <th class="text-center">Borrowed</th>
    <th class="text-center">Book Type</th>
    <th>Actions</th>
    <th>Delete</th>

  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td class="text-center"><%= item.active ? "YES" : 'NO'%></td>
      <td class="text-center"><%= item.borrowed ? "YES" : 'NO'%></td>
      <td class="text-center"><%= item.item_type %></td>
      <td><%= link_to "Show this item", item, class: 'btn btn-primary'%></td>
      <td><%= button_to "X", item_path(item), method: :delete, class: 'btn btn-danger'%></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>