<p style="color: green"><%= notice %></p>

<h4>Items</h4>
<div id="items" class="container-fluid">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th class="text-center">Active</th>
          <th class="text-center">Borrowed</th>
          <th>Actions</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td class="text-center"><%= item.active ? "YES" : 'NO'%></td>
          <td class="text-center"><%= item.borrowed ? "YES" : 'NO'%></td>
          <td><%= link_to "Show this item", item, class: 'btn btn-primary'%></td>
          <td><%= button_to "X", item_path(item), method: :delete, data: {turbo_confirm: ' Are you sure?'}, class: 'btn btn-danger'%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <%= link_to "Add new item", new_item_path, class: 'btn btn-primary' %>
</div>



