<!DOCTYPE html>
<html>
  <head>
    <title>Pozyczarka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="container">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Pozyczarka</a>
        <% if user_signed_in? %>
          <%= render 'devise/shared/navbar' %>
        <% else %>
      <div class="navbar">
        <%= link_to 'Log in',new_user_session_path, class: 'btn btn-default'%>
      </div>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
